.modal-backdrop.show {
  opacity: 0.4;
}
form {
  width: 500px;
  margin: 0 auto;
  padding: 2%;
  margin-top: 20px;
}

.form-containerss {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: scroll !important;
  overflow: hidden;
  height: 100vh;
}


.modal-content {
  background-color: #272b35;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80%;
  }
}

.ModalHead .btn-close {
  outline: none;
}

.modal-body > div {
  width: 95%;
  margin: auto;
  margin-bottom: 2rem;
}
.modal-body > div > p,
.sc-hFrEEg,
.modal-body ul {
  max-width: 80%;
  margin-left: 8rem;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: rgb(204, 204, 204);
}

.react-datetime-picker {
  width: 100%;
  color: white;
}

.react-datetime-picker,
.react-datetime-picker input,
.react-datetime-picker select,
.react-datetime-picker button svg {
  color: orange;
}

.react-datetime-picker__inputGroup {
  padding: 10px;
}

.react-datetime-picker button svg path {
  fill: orange;
}

.btn{
  background-color: var(--blue-1100);
  color: white;
  font-weight: bolder;
  width: 100px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 2%;
  border: none;
}

.icon-close{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  cursor: pointer;
}